<div class="row">
    <div class="col-md-12">
        <h2>Open Games</h2>
        <table class="table">
            <tr>
                <th>Game Name</th>
                <th>Owner</th>
                <th></th>
            </tr>
            <tr ng-repeat="j in games">
                <td>[[ j.title ]]</td>
                <td>[[ j.owner_name ]]</td>
                <td><button class="btn btn-xs btn-primary pull-right" ng-click="joinGame(j.game_id, j.has_password)" popover-placement='left' popover-trigger="mouseenter" popover="Join the game as a player.">&nbsp;Join&nbsp;</button></td>
            </tr>
        </table>
        <button class="btn btn-primary pull-right" ng-click="showCreateGameModal()" popover-trigger="mouseenter" popover-placement='left' popover="Create a new, custom game.">Create Game</button>
    </div>
</div>