<!-- dl>
    <dt>[[ game.title ]]</dt>
    <dd>[[ game.desc ]]</dd>
    <dd>[[ game.state ]]</dd>
</dl -->

<div class="pull-right">
    <button class="btn btn-warning" ng-click="leaveGame(playerId)">Exit Game</button>
    <button ng-if="isOwner" class="btn btn-danger" ng-click="endGame()">End Game</button>
</div>
<h3>[[ game.title ]]</h3>
<p class="lead">[[ game.desc ]]</p>
<hr />

<div class="row">
    <div class="col-md-9">

        <div ng-if="isOwner && game.state == 'Open'">
            <!--
                Region for dealing a new story
                You must own the game, and the game must be in an open state.
            -->
            <form>
                <div class="form-group">
                    <label for="txtNewStory">New Story:</label>
                    <textarea  ng-model="$parent.newStory"
                               id="txtNewStory"
                               class="form-control"
                               placeholder="As a dealer, i need a good story so that the team can properly assess the required effort.">
                    </textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" ng-click="dealHand()">Send Story</button>
                </div>
            </form>
        </div>

        <div ng-if="game.state == 'Playing'">
            <h3>Current Story</h3>
            <blockquote>[[ game.current_hand.body ]]</blockquote>
            <div class="cardInDeck grow" ng-click="castVote(None);"><span>Pass</span></div>
            <div class="cardInDeck grow" ng-repeat="p in game.pts_scale" ng-click="castVote(p);"><span>[[ p ]]</span></div>
        </div>

        <div ng-if="game.state == 'Reviewing'">
            <h3>Review Current Story</h3>
            <blockquote>[[ game.current_hand.body ]]</blockquote>
            <div ng-if="isOwner">
                <form class="form-inline">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-stats" style="font-size: large;" aria-hidden="true"></span>
                        </span>
                        <input type="text" class="form-control" name="txtResult" id="txtResult" ng-model="$parent.$parent.voteResult" />
                    </div>
                    <button class="btn btn-success" ng-click="applyVote('Accept');">Accept</button>
                    <button class="btn btn-warning" ng-click="applyVote('Revote');">Re-vote</button>
                    <button class="btn btn-danger" ng-click="applyVote('Cancel');">Reject</button>
                </form>
            </div><br/>
            <div class="cardInDeck" ng-repeat="p in game.current_hand.votes">
                <span>[[ p.vote ]]</span><br/>
                <small>[[ p.name ]]</small>
            </div>
        </div>

    </div>

    <div class="col-md-3">
        <div class="well">
            <h4>Players</h4>
            <!-- ul class="list-unstyled">
                <li ng-repeat="p in game.players">[[p]]</li>
            </ul -->
            <table class="table">
                <tr ng-repeat="(key, p) in game.players">
                    <td ng-if="game.state == 'Playing' && game.current_hand.votes[key] != null"><span class="glyphicon glyphicon-check"></span></td>
                    <td ng-if="game.state == 'Playing' && game.current_hand.votes[key] == null"><span class="glyphicon glyphicon-unchecked"></span></td>
                    <td>[[p]]</td>
                    <td ng-if="isOwner" ng-click="leaveGame(key)"><span class="glyphicon glyphicon-remove"></span></td>
                </tr>
            </table>
        </div>
        <div class="pull-right">
            <button class="btn btn-warning" ng-if="isOwner && game.state == 'Playing'" ng-click="cancelHand()">Cancel Hand</button>
        </div>
    </div>
</div>

<hr/>
<accordion>
    <accordion-group ng-repeat="hand in game.hands | reverse" ng-click="setVisibleHand($index)" is-open="isVisibleHand($index)">
        <accordion-heading>
            <span>[[hand.body | truncate : 100 : '...']]</span>
            <span class="pull-right">Points: [[hand.points]]</span>
        </accordion-heading>
        <p class="lead">[[hand.body]]</p>
        <div class="cardInDeck" ng-repeat="v in hand.votes">
            <span>[[ v.vote ]]</span><br/>
            <small>[[ v.name ]]</small>
        </div>
    </accordion-group>
</accordion>

<br/>
<br/>
<br/>
<br/>
<pre>[[ debug ]]</pre>
