<div class="modal-header">
    <h3 class="modal-title">Player Name</h3>
</div>
<div class="modal-body">
    <p class="notice">So, um, how do you spell your name again?</p>
    <form>
        <div class="form-group">
            <!-- label for="name">Name:</label -->
            <input  id="name"
                    type="text"
                    ng-model="name"
                    class="form-control"
                    placeholder="The name you provide will be publicly visible." />
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="register()">Save</button>
</div>
