<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- AngularJS -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
        <script src="/static/js/ui-bootstrap-tpls-0.11.2.min.js"></script>

        <!-- Application Specific -->
        <link rel="stylesheet" href="/static/css/site.css">
        <script src="/static/js/app.js"></script>
        <script src="/static/js/controllers.js"></script>
        <script src="/static/js/pivotal-service.js"></script>
        <script src="/static/js/poker-api.js"></script>
        <script src="/static/js/pointscale.js"></script>
    </head>

    <body ng-app="theApp" ng-controller='rootCtrl'>
        <div class='container'>
            <div class="navbar navbar-default">
                <a class="navbar-brand" href="/">Pivotal Poker</a>
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown" ng-if="alerts.length > 0">
                        <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="text-danger">Alerts</span> <span class="glyphicon glyphicon-bell text-danger"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="a in alerts"><a href ng-click="clearAlert($index)">[[a]]</a></li>
                            <li class="divider"></li>
                            <li><a href ng-click="clearAlerts()">Clear alerts</a></li>
                        </ul>
                    </li>
                    <li><a>Player: [[displayName]]</a></li>
                </ul>
            </div>
            <div ng-view></div>
        </div>
    </body>

</html>